@model IEnumerable<NonLeague.Models.League>
@{
    ViewData["Title"] = "Fixture / Results";
    int step = 0;
}

<h3>Fixtures / Results</h3>
<hr />
<div class="list-group">
    <a asp-controller="MatchThisWeek" asp-action="Index" class="list-group-item">
        <p class="list-group-item-heading">Today</p>
    </a>
</div>
<hr />
<div class="list-group">
    @foreach (var league in Model)
    {
        @if (step != @league.Step)
        {
            <h4>Step @league.Step</h4>
            step = @league.Step;
        }
            <a asp-controller="Season" asp-action="Index" asp-route-competitionid=@league.CompetitionID class="list-group-item">
                @if (league.Division == "")
                {
                    <p class="list-group-item-heading">@league.Name</p>
                }
                else
                {
                    <p class="list-group-item-heading">@league.Name - @league.Division</p>
                }
                <p class="list-group-item-text">@league.Sponsor</p>
            </a>
    }
</div>
