@model List<NonLeague.Models.MatchesCompetition>
@{
    ViewData["Title"] = "Fixture / Results";
    string validDate = null;
    int leagueHeaderID = 0;
    int leagueBodyID = 0;
}

<h3>Fixtures / Results</h3>
<hr />

<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" id="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>League <span class="caret"></span></h4></a>

        <ul class="dropdown-menu" id="dropdown" aria-labelledby="dropdown">
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Vanarama National League</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Vanarama National League North</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Vanarama National League South</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Evo-Stik League Premier Division</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Evo-Stik Southern Premier Central</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Evo-Stik Southern Premier South</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Bostik League Premier Division</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Evo-Stik League First Division East</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Evo-Stik League First Division West</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Evo-Stik Southern Division One Central</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Evo-Stik Southern Division One South</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Bostik League North Division</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Bostik League South Central Division</a></li>
            <li><a data-scroll href="#league-@(++leagueHeaderID)">Bostik League South East Division</a></li>
        </ul>
    </li>
</ul>

<hr />

<table class="table table-condensed no-gutters-horizontal">
    @foreach (var league in Model)
    {
        string classFirst = "";

        @if (leagueBodyID == 0)
        {
            classFirst = "first";
        }

        <tr id="league-@(++leagueBodyID)">
            <th colspan="3">
                <h3 class=@classFirst>@league.Competition</h3>
            </th>
        </tr>

        @foreach (var match in league.Match)
        {
            @if (validDate != @match.Date)
            {
                validDate = @match.Date;
                <tr>
                    <th colspan="3">
                        <h4>@match.Date</h4>
                    </th>
                </tr>
            }

            bool inProgress = !@match.Status.Contains("Kick off");

            <tr>
                <td class="text-right">@match.HomeTeamName</td>
                @if (inProgress)
                {
                    <td class="text-center bold">@match.HomeTeamScore - @match.AwayTeamScore</td>
                }
                else
                {
                    <td class="text-center bold">@match.Time</td>
                }
                <td class="text-left">@match.AwayTeamName</td>
            </tr>

            @if (inProgress)
            {
                <tr>
                    <td class="text-right text-muted muted">@match.Status</td>
                    <td class="text-center text-muted muted">@match.HomeTeamHalfTimeScore - @match.AwayTeamHalfTimeScore</td>

                    @if (@match.Attendance > 0)
                    {
                        <td class="text-left text-muted muted">Attendance: @match.Attendance</td>
                    }
                    else
                    {
                        <td class="text-left text-muted muted"></td>
                    }
                </tr>
            }
        }
    }
</table>

